
@model RedirectURLs.Models.Link
@{
    ViewBag.Title = "Редактирование ссылки";
}
<form asp-action="edit" asp-controller="Account" asp-route-id="@Model.Id">
    <div class="form-group">
        <label asp-for="LongLink" class="control-label">Полная ссылка</label>
        <input type="text" asp-for="LongLink" class="form-control" />
    </div>
    @*<div class="form-group">
        <label asp-for="Age" class="control-label">Возраст</label>
        <input type="number" asp-for="Age" class="form-control" />
    </div>*@
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-default" />
    </div>
</form>