@model RedirectURLs.Models.Link
@{
    ViewBag.Title = "Добавление ссылки";
}
<form asp-action="create" asp-controller="ManageLink">
    <div class="form-group">
        <label asp-for="LongLink" class="control-label">Link</label>
        <input type="text" asp-for="LongLink" class="form-control" />
    </div>
    @*<div class="form-group">
            <label asp-for="Age" class="control-label">Возраст</label>
            <input type="number" asp-for="Age" class="form-control" />
        </div>*@
    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-default" />
    </div>
</form>